<h2>Admin</h2>

<ul>
  <li>{{link-to 'Documentations' 'admin.documentations'}}</li>
  <li>{{link-to 'People' 'admin.people'}}</li>
  <li>{{link-to 'Tags' 'admin.tags'}}</li>
  <li>{{link-to 'Users' 'admin.users'}}</li>
  <li><a href="#" {{action 'logout' on='click'}}>Logout</a></li>
</ul>

{{outlet}}