<div class="admin">
  <div class="toolbar">
    <div class="left">
      <h2>{{link-to 'Admin' 'admin'}}</h2>
    </div>

    <div class="middle">
      <ul>
        <li>{{link-to 'Documentations' 'admin.documentations'}}</li>
        <li>{{link-to 'People' 'admin.people'}}</li>
        <li>{{link-to 'Tags' 'admin.tags'}}</li>
        <li>{{link-to 'Users' 'admin.users'}}</li>
      </ul>
    </div>

    <div class="right">
      <ul>
        <li><a href="#" {{action 'logout' on='click'}}>Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="content">
    {{outlet}}
  </div>
</div>
