<div>
  <div class="toolbar">
    <div>
      <h1 class="toolbar__title">{{link-to 'IAD Archive' 'index'}}</h1>
    </div>

    <div class="toolbar__middle">
      <input class="toolbar__search" type="search" placeholder="Search...">
    </div>

    <div>
      <ul class="toolbar__links">
        <li class="toolbar__links__link">{{link-to 'Collections' 'collections'}}</li>
        <li class="toolbar__links__link">{{link-to 'Projects' 'projects'}}</li>
        <li class="toolbar__links__link"><a href="http://iad.zhdk.ch">IAD Website</a></li>
      </ul>
    </div>
  </div>

  <div>
    {{outlet}}
  </div>

  <div class="footer">
    <ul>
      <li>{{link-to 'Admin' 'admin'}}</li>
    </ul>
  </div>
</div>