<h2>Login</h2>

<form {{action 'submit' on='submit'}}>
  <p>
    <label>Email</label>
    {{input value=email}}
  </p>

  <p>
    <label>Password</label>
    {{input value=password type='password'}}
  </p>

  <p>
    <button class="submit" {{action 'authenticate'}}>
      Login
    </button>
  </p>

  {{#if error}}
    <p class="error">
      {{error}}
    </p>
  {{/if}}
</form>